In [79]:
import pandas as pd 
import numpy as np
import ta

In [ ]:
df = pd.read_csv("data/data.csv")
df.columns = df.columns.str.strip().str.lower()
df.head()

,timestamp,date,symbol,open,high,low,close,volume btc,volume usd
0,1676939580000,2023-02-21 00:33:00,BTC/USD,24859.34,24859.34,24859.34,24859.34,0.000000,0.000000
1,1676939520000,2023-02-21 00:32:00,BTC/USD,24821.96,24859.34,24821.96,24859.34,0.103099,2562.977818
2,1676939460000,2023-02-21 00:31:00,BTC/USD,24818.09,24821.96,24815.47,24821.96,0.090640,2249.866178
3,1676939400000,2023-02-21 00:30:00,BTC/USD,24812.25,24818.09,24812.25,24818.09,0.002203,54.681450
4,1676939340000,2023-02-21 00:29:00,BTC/USD,24809.27,24812.25,24809.27,24812.25,0.090675,2249.862431

In [52]:
# Ensure the column is treated as datetime
df['date'] = pd.to_datetime(df['date'])

df.drop(columns=["timestamp"])

# Find the oldest date
oldest_date = df['date'].min()
# Latest date
latest_date = df['date'].max()
print("Oldest date in the dataset:", oldest_date)
print("Latest date in the dataset:", latest_date)

Oldest date in the dataset: 2015-10-08 13:40:00
Latest date in the dataset: 2023-02-21 00:33:00

In [53]:
import pandas as pd

# Define the new start and end timestamps
start_date = pd.to_datetime("2015-10-08 14:00:00")
end_date = pd.to_datetime("2023-02-20 14:00:00")

# Filter df2 within this adjusted range
df_filtered = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

# Oldest and latest dates after filtering
oldest_date_df = df_filtered['date'].min()
latest_date_df = df_filtered['date'].max()
print("Oldest date in df2_filtered:", oldest_date_df)
print("Latest date in df2_filtered:", latest_date_df)

Oldest date in df2_filtered: 2015-10-08 14:00:00
Latest date in df2_filtered: 2023-02-20 14:00:00

In [54]:
df_filtered = df_filtered.set_index('date')
df_filtered = df_filtered.sort_index()

df_filtered.head()

,timestamp,symbol,open,high,low,close,volume btc,volume usd
date,,,,,,,,
2015-10-08 14:00:00,1444312800,BTC/USD,245.0,245.0,245.0,245.0,0.000000,0.000000
2015-10-08 14:01:00,1444312860,BTC/USD,245.0,245.0,245.0,245.0,0.000000,0.000000
2015-10-08 14:02:00,1444312920,BTC/USD,245.0,245.0,244.5,244.5,0.987223,241.375962
2015-10-08 14:03:00,1444312980,BTC/USD,244.5,244.5,244.5,244.5,0.000000,0.000000
2015-10-08 14:04:00,1444313040,BTC/USD,244.5,244.5,244.5,244.5,0.000000,0.000000

In [61]:
df_filtered.drop(columns=["timestamp", "symbol"], inplace=True)

In [56]:
df2 = pd.read_csv("XAU_1m_data.csv", sep=';')
df2.columns = df2.columns.str.strip().str.lower()

# Convert 'date' column to datetime
df2['date'] = pd.to_datetime(df2['date'])

# Oldest and latest dates
oldest_date_df2 = df2['date'].min()
latest_date_df2 = df2['date'].max()
print("Oldest date in df2:", oldest_date_df2)
print("Latest date in df2:", latest_date_df2)

Oldest date in df2: 2004-06-11 07:18:00
Latest date in df2: 2025-10-31 22:59:00

In [57]:
# Define the date range from the first dataset
start_date = pd.to_datetime("2015-10-08 14:00:00")
end_date = pd.to_datetime("2023-02-20 14:00:00")

# Filter df2 within this range
df2_filtered = df2[(df2['date'] >= start_date) & (df2['date'] <= end_date)]

# Show result
df2_filtered.head()
# Oldest and latest dates
oldest_date_df2 = df2_filtered['date'].min()
latest_date_df2 = df2_filtered['date'].max()
print("Oldest date in df2:", oldest_date_df2)
print("Latest date in df2:", latest_date_df2)

Oldest date in df2: 2015-10-08 14:00:00
Latest date in df2: 2023-02-20 14:00:00

In [58]:
df2_gold = df2_filtered.copy().rename(columns={
    'open': 'open_gold',
    'close': 'close_gold',
    'low': 'low_gold',
    'high': 'high_gold',
    'volume': 'volume_gold'
})

df2_gold.head()

,date,open_gold,high_gold,low_gold,close_gold,volume_gold
3206612,2015-10-08 14:00:00,1144.84,1144.94,1144.57,1144.65,86
3206613,2015-10-08 14:01:00,1144.50,1144.55,1143.94,1143.96,124
3206614,2015-10-08 14:02:00,1143.96,1144.12,1143.93,1143.93,45
3206615,2015-10-08 14:03:00,1143.77,1143.94,1143.73,1143.80,81
3206616,2015-10-08 14:04:00,1143.87,1143.97,1143.87,1143.92,42

In [59]:
# Set the 'date' column as the index
df2_gold = df2_gold.set_index('date')
df2_gold = df2_gold.sort_index()

df2_gold.head()

                     open_gold  high_gold  low_gold  close_gold  volume_gold
date
2015-10-08 14:00:00    1144.84    1144.94   1144.57     1144.65           86
2015-10-08 14:01:00    1144.50    1144.55   1143.94     1143.96          124
2015-10-08 14:02:00    1143.96    1144.12   1143.93     1143.93           45
2015-10-08 14:03:00    1143.77    1143.94   1143.73     1143.80           81
2015-10-08 14:04:00    1143.87    1143.97   1143.87     1143.92           42

In [62]:
# Merge on index (inner join to keep only matching timestamps)
merged_df = df_filtered.merge(df2_gold, left_index=True, right_index=True, how='inner')

merged_df.head()

,open,high,low,close,volume btc,volume usd,open_gold,high_gold,low_gold,close_gold,volume_gold
date,,,,,,,,,,,
2015-10-08 14:00:00,245.0,245.0,245.0,245.0,0.000000,0.000000,1144.84,1144.94,1144.57,1144.65,86
2015-10-08 14:01:00,245.0,245.0,245.0,245.0,0.000000,0.000000,1144.50,1144.55,1143.94,1143.96,124
2015-10-08 14:02:00,245.0,245.0,244.5,244.5,0.987223,241.375962,1143.96,1144.12,1143.93,1143.93,45
2015-10-08 14:03:00,244.5,244.5,244.5,244.5,0.000000,0.000000,1143.77,1143.94,1143.73,1143.80,81
2015-10-08 14:04:00,244.5,244.5,244.5,244.5,0.000000,0.000000,1143.87,1143.97,1143.87,1143.92,42

In [64]:
merged_df.isna().sum()

open           0
high           0
low            0
close          0
volume btc     0
volume usd     0
open_gold      0
high_gold      0
low_gold       0
close_gold     0
volume_gold    0
dtype: int64

In [68]:
ts = merged_df.copy()

# Simple Moving Average (SMA)
window_size = 20

# Calculate SMA
ts['SMA_20'] = ts['close'].rolling(window=window_size).mean()

# Fill missing values using backfill 
ts['SMA_20'] = ts['SMA_20'].bfill()

In [70]:
#Exponential Moving Average
span = 20

# Calculate EMA
ts['EMA_20'] = ts['close'].ewm(span=span, adjust=False).mean()

In [71]:
#Triple Exponential Moving Average
span = 20

# EMA of close
EMA = ts['close'].ewm(span=span, adjust=False).mean()

# EMA of EMA
EMA_of_EMA = EMA.ewm(span=span, adjust=False).mean()

# EMA of EMA of EMA
EMA_of_EMA_of_EMA = EMA_of_EMA.ewm(span=span, adjust=False).mean()

# Compute TEMA
ts['TEMA_20'] = 3*EMA - 3*EMA_of_EMA + EMA_of_EMA_of_EMA

In [72]:
#Moving Average Convergence Divergence 
ema_fast = ts['EMA_20']
 # slow EMA
ema_slow = ts['close'].ewm(span=26, adjust=False).mean() 
ts['MACD'] = ema_fast - ema_slow

In [74]:
# captures minute-to-minute price change
ts['returns'] = np.log(ts['close'] / ts['close'].shift(1))

In [82]:
# RSI (14-period)
ts['RSI_14'] = ta.momentum.RSIIndicator(close=ts['close'], window=14).rsi()

# Bollinger Bands (20-period)
bb = ta.volatility.BollingerBands(close=ts['close'], window=20, window_dev=2)
ts['BB_upper'] = bb.bollinger_hband()
ts['BB_lower'] = bb.bollinger_lband()
ts['BB_width'] = ts['BB_upper'] - ts['BB_lower']

# ATR (14-period)
ts['ATR_14'] = ta.volatility.AverageTrueRange(high=ts['high'], low=ts['low'], close=ts['close'], window=14).average_true_range()

# VWAP (intraday, using cumulative volume-price)
ts['VWAP'] = (ts['close'] * ts['volume btc']).cumsum() / ts['volume btc'].cumsum()


# Rolling returns volatility (10-period)
ts['volatility_10'] = ts['close'].pct_change().rolling(10).std()

# High-Low range
ts['range'] = ts['high'] - ts['low']

# Lagged closes (1, 5, 10 minutes)
ts['close_lag1'] = ts['close'].shift(1)
ts['close_lag5'] = ts['close'].shift(5)
ts['close_lag10'] = ts['close'].shift(10)

# Lagged returns
ts['returns_lag1'] = ts['returns'].shift(1)
ts['returns_lag5'] = ts['returns'].shift(5)
ts['returns_lag10'] = ts['returns'].shift(10)

ts = ts.bfill()

In [83]:
ts.head()

,open,high,low,close,volume btc,volume usd,open_gold,high_gold,low_gold,close_gold,...,ATR_14,VWAP,volatility_10,range,close_lag1,close_lag5,close_lag10,returns_lag1,returns_lag5,returns_lag10
date,,,,,,,,,,,,,,,,,,,,,
2015-10-08 14:00:00,245.0,245.0,245.0,245.0,0.000000,0.000000,1144.84,1144.94,1144.57,1144.65,...,0.0,244.5,0.000645,0.0,245.0,245.0,245.0,0.000000,0.0,0.0
2015-10-08 14:01:00,245.0,245.0,245.0,245.0,0.000000,0.000000,1144.50,1144.55,1143.94,1143.96,...,0.0,244.5,0.000645,0.0,245.0,245.0,245.0,0.000000,0.0,0.0
2015-10-08 14:02:00,245.0,245.0,244.5,244.5,0.987223,241.375962,1143.96,1144.12,1143.93,1143.93,...,0.0,244.5,0.000645,0.5,245.0,245.0,245.0,0.000000,0.0,0.0
2015-10-08 14:03:00,244.5,244.5,244.5,244.5,0.000000,0.000000,1143.77,1143.94,1143.73,1143.80,...,0.0,244.5,0.000645,0.0,244.5,245.0,245.0,-0.002043,0.0,0.0
2015-10-08 14:04:00,244.5,244.5,244.5,244.5,0.000000,0.000000,1143.87,1143.97,1143.87,1143.92,...,0.0,244.5,0.000645,0.0,244.5,245.0,245.0,0.000000,0.0,0.0

In [84]:
ts.isna().sum()

open             0
high             0
low              0
close            0
volume btc       0
volume usd       0
open_gold        0
high_gold        0
low_gold         0
close_gold       0
volume_gold      0
SMA_20           0
EMA_20           0
TEMA_20          0
MACD             0
returns          0
RSI_14           0
BB_upper         0
BB_lower         0
BB_width         0
ATR_14           0
VWAP             0
volatility_10    0
range            0
close_lag1       0
close_lag5       0
close_lag10      0
returns_lag1     0
returns_lag5     0
returns_lag10    0
dtype: int64

In [ ]:
# Export ts to CSV
ts.to_csv('btc_final_data.csv', index=True) 

print("Exported ts to btc_final_data.csv")